body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header-wrapper, .section-one
{
    background-color: #1F2937;
}

.header-wrapper
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.site-title
{
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 100px;
}

.nav-bar
{
    padding-left: 100px;
}

.nav-bar > ul
{
    display: flex;
    gap: 15px;
}

.section-one
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.section-one-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-one-right > img
{
    border-radius: 10px;
}

.hero
{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary, .nav-item
{
    color: #E5E7EB;
}

.hero-button
{
    font-size: 14px;
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 7px 20px;
    border-radius: 7px;
}

.section-two-tiles-wrapper
{
    display: flex;
    gap: 30px;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
}

.information-header
{
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.tile
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile > img
{
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.tile-text
{
    width: 100px;
}

.section-three
{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 225px;
}

.quote
{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.quote-author > p
{
    font-weight: 700;
    text-align: right;
}

.cta
{
    padding: 80px 175px;
}

.cta-box
{
    background-color: #3882F6;
    padding: 40px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cta-primary
{
    font-size: 30px;
    color: #E5E7EB;
    font-weight: 600;
    margin: 0;
}

.cta-secondary
{
    font-size: 24;
    color: #E5E7EB;
    margin: 0;
}

.cta-button
{
    font-size: 18px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 7px 20px;
    border-radius: 7px;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul
{
    padding: 0;
    list-style: none;
}